:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login-form {
  display: flex;
  flex-direction: column;
  background-color: aquamarine;
  border-radius: 5px;
  padding: 50px;
  width: 500px;
}
